@import url(./css_holder/header.css);
@import url(./css_holder/story.css);
@import url(./css_holder/slider.css);
@import url(./css_holder/example.css);
@import url(./css_holder/offer.css);
@import url(./css_holder/bestseller.css);
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--iranyekan);
}
@font-face {
    font-family: "iranyekan";
    src: url(./essential/font/IRANYekanWeb-Bold.eot);
    src: url(./essential/font/IRANYekanWeb-Bold.ttf);
    src: url(./essential/font/IRANYekanWeb-Bold.woff);
    src: url(./essential/font/IRANYekanWeb-Bold.woff2);
}
:root{
    --iranyekan:"iranyekan";
}

