.poster-2 {
    width: 100%;
    height: 264px;
    display: flex;
    justify-content: center;
    margin-top: 60px;

    .poster-2-center {
        width: 86%;
        height: inherit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row nowrap;

        .poster-2-img {
            border-radius: 16px;
            width: 49.5%;
            height: inherit;

            a {
                display: block;
                width: 100%;
                height: 100%;
                border-radius: 16px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 16px;
                }
            }
        }
    }
}